body{
    position: 1;
}
.secondLastFooter_bgImg__15Zji {
    background-image: url(https://www.tataaig.com/footerBgImage1.svg);
    background-size: contain;
    background-position: right 2rem center;
    background-repeat: no-repeat;
    min-height: 50px;
    display: flex;
}